@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap');

.logo {
    font-family: 'Monoton', cursive;
    font-size: 30px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

nav {
    margin-bottom: 20vh;
}

.home-image {
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nav-item {
    font-size: 2.5vh;
}

.flashes h4 {
    line-height: 2;
}