{% extends "base.html" %}
{% block content %}


<div class="row card-panel white">
   <h2 class="center-align">Add Your Own Cocktail Recipe</h2>
   <form class="col s12" method="POST" action="{{ url_for('add_cocktail') }}">
      <!--add cocktail image url-->
      <div class="row">
         <div class="input-field col s11">
            <i class="fas fa-images prefix"></i>
            <textarea id="url" name="url" class="materialize-textarea validate" required></textarea>
            <label for="url">Add Image Url</label>
         </div>
         <div class="col-1">
            <a class="btn tooltipped black-text grey lighten-4 right" data-position="left" 
               data-tooltip="Find an image of your chosen cocktail
               on google images, right click and copy image address">
            <i class="fas fa-info-circle"></i>
            </a>
         </div>
      </div>
      <!--add name of cocktail-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-cocktail prefix"></i>
            <textarea id="cocktail_name" name="cocktail_name" minlength="5" maxlength="15" 
               class="materialize-textarea validate" required></textarea>
            <label for="cocktail_name">Cocktail</label>
         </div>
      </div>
      <!--add cocktail ingredients -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-list prefix"></i>
            <textarea id="ingredients" name="ingredients" class="materialize-textarea validate" required></textarea>
            <label for="ingredients">Ingredients</label>
         </div>
      </div>
      <!--add cocktail method-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-blender prefix"></i>
            <textarea id="method" name="method" class="materialize-textarea validate" required></textarea>
            <label for="method">Method</label>
         </div>
      </div>
      <!--submit button-->
      <div class="row">
         <div class="col s12 center-align">
            <a href="{{ url_for('get_recipes') }}" class="btn waves-effect waves-light grey darken-3">
            Cancel
            <i class="fas fa-times right"></i>
            </a>
            <button class="btn waves-effect waves-light grey darken-3" type="submit">Add New Cocktail
            <i class="fas fa-check"></i>
            </button>
         </div>
      </div>
   </form>
</div>

{% endblock %}