<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <title>On The Rocks!</title>
</head>
<body>
<!--nav bar-->
<nav>
    <div class="nav-wrapper grey darken-3">
      <a href="{{ url_for('home') }}" class="brand-logo logo">On The Rocks</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('get_recipes') }}" class="nav-item">Recipes</a></li>
        <li><a href="{{ url_for('login') }}" class="nav-item">Log In</a></li>
        <li><a href="{{ url_for('register') }}" class="nav-item">Register</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
    <li><a href="{{ url_for('login') }}">Log In</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
  </ul>

    <section>
        <!--Flash messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="row flashes">
                    <h4 class="red darken-4 center-align white-text">{{ message }}</h4>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>         
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>  
</body>
</html>