{% extends "base.html" %}
{% block content %}

<!--homepage card-->
<div class="container valign-wrapper">
  <div class="row">
    <div class="col s10 offset-s1 valign">
      <div class="card red darken-4">
        <div class="card-content white-text ">
          <span class="card-title logo center"><h1>ON THE ROCKS</h1></span>
          <p class="text center-align">Welcome to On The Rocks! The perfect place to find new cocktail recipes and add your own!</p>
        </div>
        <div class="card-action center">
          <a href="{{ url_for('login') }}" class="white-text grey darken-3 waves-effect waves-light btn">Log In</a>
          <a href="{{ url_for('register') }}" class="white-text grey darken-3 waves-effect waves-light btn">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
