{% extends "base.html" %}
{% block content %}

<div class="card-panel">
    <h2 class="center-align">Find us here!</h2>
    <div id="map"></div>
    <br>
    <h3 class="text center-align">Contact Us</h3>
    <p class="center-align text">Reserve a seat in our river side bar to recieve the full table service experience!</p>


     <form id="contact-form" class="col s12">
        <input type="hidden" name="contact_number">

        <label for="name">Name</label>
        <input id="name" type="text" name="name" class="validate">

        <label for="email">Email</label>
        <input id="email" type="email" name="email" class="validate">

        <label for="message">Message</label>
        <textarea id="message" name="message" class="validate"></textarea>

        <input type="submit" class="waves-effect waves-light btn center-align white-text grey darken-3 center" value="Make A Reservation">
    </form>
</div>


{% endblock %}